.business-card {
    background-color: #0064a7;
    color: #ffffff;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
.bc-logo {
    width: 50%;
}

.bc-firstname {
    font-weight: bold;
    font-size: 1.8rem;
}
.bc-surname {
    font-weight: bold;
    color: #fcbb0c;
    font-size: 2.2rem;
}

.bc-position {
    font-style: italic;
}