.thumbnails {
    padding: 3vh 2vw 3vh 2vw;
    margin: 0 auto;
}

.thumbnail {
    width: 30vw;
    height: 75vh;
    box-sizing: content-box;
}

.thumbnail h2 {
    text-align: center;
    line-height: 2.5em;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
}

.thumbnail-text {
    margin-top: 50%;
    padding: 1em;
}

.thumbnail.comic {
    background-image: url("img/comic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
}
.thumbnail.manga {
    background-image: url("img/manga.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
}
.thumbnail.manhwa {
    background-image: url("img/manhwa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
}