/*LOGIN*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-row {
    background-color: #f8f9fa;
    padding: .8rem 0;
}

.project-row__title {
    font-weight: 500;
}
.project-item {
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto .5rem auto ;
    padding: .5rem;
}

.project-item__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-item__info {

    display:flex;
    flex-direction: column;
    text-align: left;
}

.project-item__points {
    background-color: #f8f9fa;
    border-radius: 100px;
    padding: .5rem;
}

.vh-75 {
    height: 50vh;
}