.styl{
  margin: auto;
  width: 70%;
  margin-top:5%;
  border-style: groove;
  border-width: 7px;
  border-color: lightblue;
  padding: 10px;
  top:5%;
  background: linear-gradient(to bottom, #33ccff 0%, #003300 100%);
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Lucida Console", "Courier New", monospace;
}
img{
  border-radius: 50%;
  height:320px;
  width:390px;
  border:1px;
}
.styldiv{
    clear: left;
}
p{
    float: left;
}
a{
    color:white;
}