html, body {
    height: 100%;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}

.card-img {
    max-width: 100%;
}

.spinner {
    height: 30px;
}

.image-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.event-card .card-upper {
    min-height: 150px;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.card-title {
    border-bottom: 1px solid black;
}

.spinner-number {
    width: 45px;
    height: 100%;
    line-height: 1.65;
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid #aaaaaa;
}

.event-card {
    border: none;
    background-color: #4fd89c;
    box-shadow: grey 2px 2px 5px 1px;
}

.event-card .card-footer {
    background-color: #bef5e2;
    width: 100%;
}

.up, .down {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.up {
    border-radius: 0 5px 5px 0;
}

.down {
    border-radius: 5px 0 0 5px;
}

.up:hover, .down:hover {
    background-color: #7d7c7c !important;
}

.spinner input::-webkit-outer-spin-button,
.spinner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spinner input[type=number] {
    -moz-appearance: textfield;
}

.gradient {
    background: rgb(0,199,103);
    background: linear-gradient(135deg, rgba(0,199,103,1) 0%, rgba(0,24,89,1) 100%);
}

.background-image {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.ticket-img {
    width: 80%;
}

form.login-form, form.register-form {
    width: 80%;
}

.sidebar-container > div {
    width: 80%;
    border-bottom: 1px solid white;
}

.card-title.cart-event-title {
    border-bottom: 1px solid white;
}

.logout {
    border-left: 2px solid rgba(255,255,255,.5);
}

.profile-pills {
    min-width: 225px;
}

.profile-pills .nav-link {
    border-radius: 0 !important;
}

.profile {
    min-height: 600px;
}

.ticket-container {
    width: 450px;
    min-height: 350px;
    border: 1px solid black;
}

.ticket-container hr {
    width: 85%;
}

.profile .nav {
    background-color: rgba(0, 0, 0, 0.08);
}

.profile .tab-content {
    background-color: #3d8aca21;
}

.sport-image {
    width: 200px;
}

.top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    padding: 5px 7.5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(11, 151, 169, 0.7);
}

.top-button .fa-chevron-up {
    font-size: 40px;
}

.top-button:hover {
    background-color: rgba(11, 151, 169, 1);
}

.navbar-toggler {
    border: none;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus-visible {
    background-color: rgba(0,0,0,.2);
}

.active-indicator {
    width: 60%;
    max-width: 100px;
    height: 5px;
    z-index: 5;
    cursor: pointer;
    bottom: 5px;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    transition: 0.4s linear;
}

.nav-item.active .active-indicator,
.nav-item:hover.active .active-indicator {
    background-color: #fff;
}

.nav-item:hover .active-indicator {
    background-color: rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    border-radius: 0 5px 5px 0;
}

.br-10 {
    border-radius: 10px;
}

.br-0 {
    border-radius: 0;
}

.text-justify {
    text-align: justify;
}

.pagination {
    margin-bottom: 0;
}

.badge {
    position: relative;
    bottom: 7px;
}

.sport-event-number {
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s linear;
}

.sport-image {
    position: relative;
}

.sport-image:hover .sport-event-number {
    display: flex;
}

.border-r-1 {
    border-right: 1px solid black;
}

.border-r-2 {
    border-right: 2px solid black;
}

.bottom-line-1 {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.bottom-line-2 {
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

.change-image-input {
    display: none;
    background-color: #5196bf4d;
    flex-direction: column;
    align-items: center;
    transition: 0.4s linear;
}

.btn-facebook {
    background-color: #3B5998;
    color: white;
}

.btn-google {
    background-color: #dd4b39;
    color: white;
}

.btn-facebook, .btn-google {
    opacity: 0.85;
}

.btn-facebook:hover, .btn-google:hover {
    opacity: 1;
}
