body {
    text-align: center
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    vertical-align: center;
    vertical-align: center;
    border-radius: 10px; 
    width: 800px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
    border-left: none;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-radius: 0 10px 10px 0;
}

.information {
    display: flex;
    justify-content: space-between;
}

.information.name {
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.heading {
    font-weight: bold;
}

img {
    width: 50%;
    border-radius: 10px 0 0 10px;
}

h2 {
    background-image: linear-gradient(45deg, black, red);
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 0 10px 0 0;
}

.personal, .company {
    padding: 10px;
}