h1 {
    text-align: center;
  }
  
  .bs-card {
    width: 600px;
    display: flex;
    background-color: rgb(169, 245, 241);
    border-radius: 20px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .logo {
    width: 200px;
    height: 320px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .main-sec {
    margin-left: 15px;
  }
  
  
  .bs-body {
    display: inline-block;
    border-left: 2px solid black;
    padding-left: 20px;
  }