main {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    width: 610px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

table {
    width: 100%;
}

.signup {
    margin-top: 50px;
    background-color: #CB3D9D;
}
