{block content}
    <br>
    <div class="text-right">
        <a n:href="Position:edit"><button class="btn btn-primary">Přidat pozici</button></a>
    </div>
    <div>
        {control positionGrid}
    </div>
{/block}