*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: rgb(202,162,230);
    background: linear-gradient(90deg, rgba(202,162,230,0.7) 1%, rgba(131,58,180,0.7) 20%, rgba(253,29,29,0.8) 44%, rgba(252,105,50,0.6) 60%, rgba(252,176,69,0.8) 75%, rgba(255,231,198,0.9) 98%);
}

.main {
    padding: 70px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;

    width: 450px;
    height: auto;

    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #f2f4f8;
}

.form-title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.form-gender:not(:last-of-type) {
    margin-right: 20px;
}

.gender-wrapper {
    display: flex;
    justify-content: center;
}

.form__btn {
    align-self: center;

    margin: 30px auto 20px;
    padding: 10px 60px;

    width: 100%;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.form__btn:focus,
.form__btn:hover {
    background-color: #277ef0;

    outline: none;
    box-shadow: 0 0 0 1px #1d68ca;
}

.form__btn:active {
    background-color: #1d68ca;
}
