body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

nav.navbar {
    background-color: #ec6d00;
}

main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

.card-img-top {
    max-width: 80%;
}

.pagination {
    padding: 5px 10px;
    border-radius: 0;
    background-color: #ec6d00;
    color: white;
    box-shadow: 2px 2px 0px #313
}

.image-container {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.card:hover,
.card:hover .card-body {
    background-color: #ffdab9 !important;
}

.card, .card-body {
    background-color: #ecac74 !important;
}

.goods-number {
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ec6d00;
    box-shadow: 5px 10px 18px #313131;
}

.new-button {
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-left: 5px;
    box-shadow: 5px 10px 18px #313131;
}

.labels {
    justify-content: space-between;
    width: 350px;
}

.goods-cart {
    justify-content: center;
}

.pagination-container {
    position: relative;
}

.pagination-container.arrow {
    margin-top: auto;
    margin-bottom: auto;
}

form {
    width: 80%;
}

.pagination-container.active .pagination {
    background-color: #ecac74;
    color: black;
}

.pagination-container .pagination:hover,
.pagination-container.active .pagination:hover {
    color: black
}

.pagination-container.active .active-indicator {
    display: block;
}

.active-indicator {
    display: none;
    height: 4px;
    z-index: 1;
    width: 100%;
    bottom: 4px;
    position: relative;
    background-color: #ec6d00;
}

.no-gutters {
    align-items: center;
    margin-right: 0;
    padding-left: 20px;
}

.fa-times {
    font-size: 40px;
}

small.error {
    color: #ff5868;
}

.users-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-form .row {
    width: 80%;
}

