.radio-button-item .form-control {
    width: 20px;
}

.radio-button-item {
    align-items: flex-end;
    position: relative;
    left: 30px;
    width: 80%;
}

.radio-button-item label {
    margin-left: 20px;
}

.container {
    margin-bottom: 100px;
}

form {
    width: 60%;
    min-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(59, 190, 129);
}

.alert {
    margin: 10px;
}
