{block content}
    <br>
    <div class="text-right">
        <a n:href="Account:edit"><button class="btn btn-primary">Přidat účet</button></a>
    </div>
    <div>
        {control accountGrid}
    </div>
{/block}