{block content}
    <br>
    <div class="text-right">
        <a n:href="Document:createForTeam"><button class="btn btn-primary">Vytvořit pro tým</button></a>
        <a n:href="Document:createForMember"><button class="btn btn-secondary">Vytvořit pro člena</button></a>
    </div>
    <div>
        {control documentGrid}
    </div>
{/block}