.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 7px 14px 52px -3px rgba(0,0,0,0.67);
    -moz-box-shadow: 7px 14px 52px -3px rgba(0,0,0,0.67);
    box-shadow: 7px 14px 52px -3px rgba(0,0,0,0.67);
}
.card{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    outline: 2px solid black;
    height: 250px;
    width: 450px;
}
h1{
    font-size: xxx-large;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
