* {
  box-sizing: border-box;
}

.card img {
  width: 150px;
  display: block;
}

.card-block p {
  margin: 0;
}

.card-block {
  width: 400px;
}

div.card:nth-child(1) {
  display: flex;
}

.space {
  height: 50px;
}

.card {
  display: flex;
  text-align: center;
  justify-content: center;
  -webkit-box-shadow: 2px 0px 30px 16px rgba(0,0,0,0.39);
  -moz-box-shadow: 2px 0px 30px 16px rgba(0,0,0,0.39);
  box-shadow: 2px 0px 30px 16px rgba(0,0,0,0.39);
}

