{block content}
    <br>
    <div class="text-right">
        <a n:href="Team:upsert"><button class="btn btn-primary">Přidat tým</button></a>
    </div>
    <div>
        {control teamGrid}
    </div>
{/block}