main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.good {
    width: 25%;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}

.signup {
    margin-top: 20px;
}