* {
  box-sizing: border-box;
}
h1 {
  margin-top: 25px;
  text-align: center;
}
body {
  font-family: Roboto, sans-serif;
}
.business-card-front {
  padding: 30px;
  background-color: #011627;
  color: #e1e1e1;
  max-width: 600px;
  margin: 30px auto;
  height: 300px;
  display: flex;
  align-items: center;
}
.business-card-back {
  padding: 30px;
  color: #011627;
  max-width: 600px;
  margin: 20px auto;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: #f5f1f1;
}
.bc-firstname {
  font-size: 1em;
}
.bc-lastname {
  color: #FF9F1C;
  font-size: 1em;
  font-weight: bold;
}
.bc-title {
  margin-bottom: 5px;
  font-size: 2.5em;
  line-height: 1.2em;
  text-transform: uppercase;
}
.bc-company {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
}
.designer-line {
  background-color: #E71D36;
  width: 2px;
  height: 100%;
}
.contacts {
  font-size: 0.9em;
  line-height: 1.5em;
}
.bc-back .bc-firstname, .bc-back .bc-lastname {
  font-size: 1em;
}
.bc-back .bc-title {
  font-size: 2em;
}
.bc-address {
  font-weight: bold;
}