parameters:
    leanmapper:
        host: localhost
        username: root
        password: ''
        driver: mysqli
        database: cechie_dubec
    mailerData:
        username: cechiedubecapp@gmail.com
        password: inlocal
        host: smtp.gmail.com
        secure: tls
        smtp: true
        port: 587
    commands:
        - App\Service\Console\CreateUserCommand
    bankNumber: inlocal
    bankAccountNumber: inlocal


application:
    errorPresenter: Error
    mapping:
        Backoffice: App\Presenters\*Presenter
        Front: App\Presenters\Front\*Presenter


session:
	expiration: 14 days


di:
    export:
        parameters: no
        tags: no

services:
    router: @App\Router\RouterFactory::createRouter
    - App\Router\RouterFactory

    db:
        factory: LeanMapper\Connection(%leanmapper%)
        setup:
            - @db.panel::register(@db)

    db.panel:
        class: Dibi\Bridges\Tracy\Panel


    - Etyka\Mapper\Mapper
    - LeanMapper\DefaultEntityFactory
    - Latte\Engine

    - Domain\Repository\MemberRepository
    - App\Components\Grid\MemberGridBuilder
    - App\Components\Grid\TeamGridBuilder
    - Domain\Repository\TeamRepository
    - Domain\Repository\PlayerRepository
    - App\Components\Grid\PlayerGridBuilder
    - App\Components\Grid\ArticleGridBuilder
    - Domain\Repository\ArticleRepository
    - Domain\Repository\StaffRepository
    - App\Components\Grid\StaffGridBuilder
    - Domain\Repository\EmailTemplateRepository
    - App\Components\Grid\EmailTemplateGridBuilder
    - Domain\Repository\AccountRepository
    - App\Components\Grid\PositionGridBuilder
    - Domain\Repository\PositionRepository
    - Domain\Repository\StaffPositionTeamRepository
    - App\Components\Grid\StaffPositionGridBuilder
    - App\Components\Grid\AccountGridBuilder
    - App\Components\Grid\DocumentGridBuilder
    - Domain\Repository\DocumentRepository


    - App\Components\Form\Member\MemberFormFactory
    - App\Components\Form\Member\MemberFormProcessor
    - App\Components\Form\Team\TeamFormFactory
    - App\Components\Form\Team\TeamFormProcessor
    - App\Components\Form\Article\ArticleUpsertFormFactory
    - App\Components\Form\Article\ArticleUpsertFormProcessor
    - App\Components\Form\Staff\StaffUpsertFormFactory
    - App\Components\Form\Staff\StaffUpsertFormProcessor
    - App\Components\Form\Email\EmailTemplateUpsertFormFactory
    - App\Components\Form\Email\EmailTemplateUpsertFormProcessor
    - App\Components\Form\Email\SendEmailFormFactory
    - App\Components\Form\Email\SendEmailFormProcessor
    - App\Components\Form\Login\LoginFormFactory
    - App\Components\Form\Login\LoginFormProcessor
    - App\Components\Form\Position\PositionFormFactory
    - App\Components\Form\Position\PositionFormProcessor
    - App\Components\Form\Staff\StaffAddPositionFormFactory
    - App\Components\Form\Staff\StaffAddPositionFormProcessor
    - App\Components\Form\Account\AccountFormFactory
    - App\Components\Form\Account\AccountFormProcessor
    - App\Components\Form\Document\CreateDocumentForTeamFormFactory
    - App\Components\Form\Document\CreateDocumentForTeamFormProcessor
    - App\Components\Form\Document\CreateDocumentForMemberFormFactory
    - App\Components\Form\Document\CreateDocumentForMemberFormProcessor

    - App\Service\Import\MemberXlsImportService
    - App\Service\Import\PlayerXlsImportService

    - App\Handler\PlayerIsActiveToggleHandler
    - App\Handler\AssignPlayersToTeamsHandler
    - App\Handler\DeleteStaffPositionTeamPairingHandler
    - App\Handler\Pdf\PdfExportHandler(%bankAccountNumber%, %bankNumber%)
    - App\Handler\DeletePositionHandler

    - App\Service\Email\EmailService(%mailerData%)

    - App\Service\Assembler\TeamAssembler
    - App\Service\Assembler\Article\ArticleAssembler

    - App\Service\Authenticator\AuthenticatorService([%fakeAccountUsername%, %fakeAccountPassword%])