{block content}
    <br>
    <div class="text-right">
        <a n:href="Staff:upsert" class="btn btn-primary">Vytvořit nového zaměstnance</a>
    </div>
    <div>
        {control staffGrid}
    </div>
{/block}