main {
  width: 90%;
  max-width: 1015px;
  margin: 80px auto;
}
.goods {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
.good {
  width: 25%;
  margin: 15px;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}
.paginations {
  display: flex;
  margin: 20px 0;
}
.pagination {
  padding: 10px;
  background-color: aquamarine;
  margin-left: 5px;
  color: firebrick;
  text-decoration: none;
  border-radius: 5px;
}
.pagination.active,
.pagination:hover {
  background-color: firebrick;
  color: aquamarine;
  text-decoration: none;
}

form > div {
  margin-bottom: 20px;
}
h3 > a {
  text-decoration: none;
}