/*----------------- parameters declaration ------------------------*/

    $comp_font : 'Poppins', sans-serif;
    $main_font : 'Roboto Slab', serif;

    $yellow : #f2cb05;
    $orange : #f25c05;
    $black  : #191919;
    $grey   : #cecece;
    $error  : #e23a3a;
    $white  : #fff;
    $shadow :   25px 22px 74px -34px rgba(0,0,0,0.32);
    $border :   0px 0px 0px 2px rgb(241, 241, 241);
    $border-hover :   0px 0px 0px 3px rgb(242, 203, 5);

    @keyframes toggleOn
    {
    0%
       {
           transform: rotate(0deg);
       }
    15%
       {
           transform: rotate(5deg);
       }
    100%
       {
           transform: rotate(90deg);
       }
    }

    @keyframes toggleOff
    {
    0%
       {
           transform: rotate(90deg);
       }
    15%
       {
           transform: rotate(95deg);
       }
    100%
       {
           transform: rotate(180deg);
       }
    }

    @keyframes slideIn
    {
        0%
        {
            left:-200px;
        }
        100%
        {
            left: 0px;
        }
    }
    @keyframes slideOut
    {
        0%
        {
            left:0px;
        }
        100%
        {
            left: -200px;
        }
    }

/*----------------------------------------------------------------*/


*, *:after, *:before
{
    box-sizing: border-box;
    margin:0;
}
:is(h1, h2, h3, h4, h5, h6)
{
    font-family: $main_font;
    a
    {
        text-decoration: none;
        color:$grey;
        transition: 0.3s;
        &:hover
        {
            color:$black;
        }
    }
    .active
    {
        color:$black;
    }
}
a
{
    color:$orange;
    text-decoration: none !important;
}
.smooth
{
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease;  
    -ms-transition: all 0.3s ease;  
    transition: all 0.3s ease;
}
::selection
{
    background-color: $black;
    color: $yellow;
}
body
{
    margin: 0 !important;
    height: 100vh;
    font-family: $comp_font;
    color:$black;
    width:100vw;
    overflow-x: hidden;
}
.vertic-100
{
    height: 100vh;
}
.bg-yellow
{
    background-color: $yellow;
}
.title
{
    font-size:5.5rem;
    font-weight: 800;
    margin-bottom:1em;
}
.sub-title
{
    padding:0 5em;
}
p
{
    font-size: 1rem;
}
.center
{
    text-align: center;
}
.bold
{
    font-weight: 800;
}

.soc-icons
{
    img
    {
        height: 1.2rem;
    }
    margin:0 0.5rem;
}

.error_msg
{
    color:$error;
    margin-top:1rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.owner-label
{
    display: block;
    background-color: black;
    width: auto;
    color: white;
    line-height: 2em;
    border-radius: 3px;
    margin-left: 0.8em;
    position: relative;
    .label
    {
        left: 0px;
        opacity:0;
        transition: 0.3s;
        width: 150px;
        position: absolute;
        font-size: 0.7em;
        top: 0px;
        color: black;
    }
    &:hover
    {
        .label
        {
            left: 75px;
            opacity:1;
        }
    }
}
/*login*/
.logo_anim
{
    width: 30%;
}

.login-form
{
    margin-top:2rem;
    .inp
    {
        position: relative;
        margin-bottom:2rem;
        width: 100%;
        input, textarea
        {
            width: 100%;
            border-radius: 3px;
            &:focus
            {
                outline: none !important;
                border:2px solid $yellow;
                box-shadow: none;
            }

        }
        .text-area
        {
            height: 100%;
        }
        a
        {
            float:right;
            color:$orange !important;
            margin:1rem 0 2rem 0;
        }
        label
        {
            transition: 0.3s ease-out;
        }
    }
}
.btn-log
{
    border-style: none;
    width: 100%;
    border-radius: 3px;
    height: 4em;
    background-color: $yellow;
    color:$black;
    transition: 0.3s;
    font-weight: bold;
    &:hover
    {
        background-color: $black;
        color:$white;
    }
}
.btn-del
{
    border-style: none;
    width: 100%;
    border-radius: 3px;
    height: 4em;
    transition: 0.3s;
    background-color: $orange;
    color:$black;
    font-weight: bold;
    &:hover
    {
        background-color: $black;
        color:$white;
    }
}
.or
{
    width: 100%;
    text-align: center;
    color:$grey;
}
.btn-fb
{
    border-style: none;
    width: 100%;
    border-radius: 3px;
    height: 4em;
    background-color: #0084ff;
    color:white;
    margin-bottom:2em;
}
.reg
{
    text-align: center;
}


/*main page*/
.side-bar
{
    z-index: 999;
    background-color: $yellow;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    .logo
    {
        margin-bottom: 5em;
        text-align: center;
        padding: 2em 1em;
        img
        {
            width: 5em;
        }
    }
    .side-menu
    {
        position: relative;
        ul
        {
            padding:0;
            list-style-type: none;
            li
            {
                width: 100%;
                text-align: center;
                a
                {
                    display: block;
                    width: 100%;
                    color:$black;
                    text-decoration: none;
                    line-height: 5rem;
                    font-size: 1rem;
                    transition: 0.3s;
                    position: relative;
                    width: inherit;
                    z-index: 3;
                    &:hover 
                    {
                        text-shadow: 0px 0px 1px #191919;
                    }
                }
                .active
                {
                    text-shadow: 0px 0px 1px #191919;
                }

            }
        }
    }
    .logout
    {
        position: absolute;
        bottom:0;
        width: 100%;
        text-align: center;
        margin-bottom:2em;
        border:none;
        background: none;
    }

}
.burger-menu
{
    display: none;
    position: fixed;
    top:0;
    right: 0.5em;
    ::selection
    {
        background-color: transparent;
    }
    i
    {
        font-size: 3rem;
        line-height: 5rem;
        color: $yellow;
        transition: 0.3s;
        &:hover
        {
            cursor: pointer;
        }
    }
    &:active .side-bar
    {
        display: block !important;
        opacity: 1;
    }
}
.main-container
{
    .main-headline
    {
        margin-bottom:2em;
        h1
        {
            font-size: 2rem;
        }
    }

    .note
    {
        box-shadow: $border;
        padding: 1.5em;
        border-radius: 4px;
        transition: 0.3s;
        position: relative;
        min-height: 315px;
        &:hover
        {
            box-shadow: $border-hover;
        }
        h2
        {
            font-size:1.5rem;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
        .note-body
        {
            position: relative;
            *
            {
                font-family:$comp_font;
                font-size:0.8rem !important;   
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
        .fill_link
        {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
        }
    }
}

.insert-btn
{
    position: fixed;
    bottom:0;
    right: 0;
    margin:3rem;
    i
    {
        padding:1rem;
        border-radius: 100%;
        background-color: $black;
        color:white;
        transition: 0.3s;
        user-select: none;
        &:hover
        {
            color:$black;
            background-color: $yellow;
            cursor:pointer;
        }
    }
}

.note-editor
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    padding: 5em 12em 0em 14em;
    z-index: 2;
}


.grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  }


.date
{
    position: absolute;
    right: 1em;
    bottom: 0.8em;
    font-size: 0.8rem;
    color: $grey;
    margin: 0;
}
.owner
{
    position: absolute;
    left: 1em;
    bottom: 0.8em;
    font-size: 0.8rem;
    color: $grey;
    margin: 0;
}
.on
{
    animation: toggleOn 0.3s forwards;
    i
    {
        color:$grey;
    }
}

.off
{
    animation: toggleOff 0.3s forwards;

    i
    {
        color:$yellow;
    }
}

.slide-in
{
    animation: slideIn 0.3s forwards;
    display: block !important;
    opacity: 1 !important;
}

.slide-out
{
    animation: slideOut 0.3s forwards;
    display: block !important;
    opacity:0 !important;
}
.small_title
{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.inp_members
{
    height: 10em !important;
}

/*------------- RESPONSIVE -----------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .side-bar
    {
        display: none;
        opacity: 0;
    }
    .main-container, .note-editor
    {
        padding: 1em 1em 0em 1em;
    }
    .burger-menu
     {
         display: block;
     }
     .sub-title
    {
        padding:0;
    }
    .title
    {
        font-size:2rem;
        font-weight: 800;
        margin-bottom:1em;
    }
    .login-form {
        margin-top: 1rem;
    }
    .login-form .inp {
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
    }
    .btn-fb {
        border-style: none;
        width: 100%;
        border-radius: 3px;
        height: 4em;
        background-color: #cecece;
        color: white;
        margin-bottom: 0em;
    }
    .side-bar
    {
        .logout {
            bottom: 4em;
        }
    }
}

.search-bar
{
    width: 10em;
    .inp
    {
        width: 100%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .main-container, .note-editor
    {
        padding: 5em 2em 0 11em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}