
.vse-fab {
    width: 54px;
    height: 54px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    z-index: 1200;
}

.vse-fab i {
    color: rgba(255, 255, 255, 0.87);
}

.vse-fab:hover {
    background-color: #0069d9;
}

.vse-fab:active, .vse-fab:focus {
    background-color: #0054ad;
}