html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*clearfix*/
form::before,
form::after {
content: "";
display: table;
}
form::after {
clear: both;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  background-color: #1B98A6;
}
h1 {
  font-size: 30px;
  text-align: center;
}

.alert {
  display: block;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 0;
}

.danger {
  background-color: #F2055C;
}

.success {
  background-color: #00000F;
}

form,
.profile-card {
  position : relative;
  width  : 80%;
  max-width: 480px;
  margin : 20px auto;
  padding: 2em 4em;
  background : #FFF;
  border-radius: 15px;
  background-color: #076873;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

label {
  font-size: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
small {
  display: inline-block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.493);
}

input:not([type="checkbox"]),
select {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  padding: 5px 10px;
  background-color: #ffffff12;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;
  color: #FFF;
}

option {
  color: black;
}

input:not([type="checkbox"]):focus,
select:focus {
  box-shadow: 0 2px 4px #00000f31, 0 8px 16px #00000f31;
  background-color: #ffffff75;
  outline: none;
}

button {
  padding: 5px 10px;
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: #00000F;
  color: #6CCED9;
  border-radius: 5px;
  cursor: pointer;
  transition: background .15s ease-in-out, color .15s ease-in-out;
}

button:hover,
button:focus {
  outline: none;
  background: #F2055C;
  color: #fff;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 5px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  margin: 5px;
  padding: 15px;
  background: #00000F;
  color: #6CCED9;
  border-radius: 5px;
  text-align: center;
  transition: .15s ease-in-out;
}

a:hover {
  background: #F2055C;
  color: #fff;
}

#menu {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
  width: 330px;
  margin: 50px auto;
}

#menu a {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.profile-card div:first-child {
  height: 200px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: contain;
}

.info {
  width: 55%;
  height: auto;
}

.info h1 {
  margin-bottom: 0;
  text-align: left;
}