main {
    width: 90%;
    max-width: 1015px;
    margin: 80px auto;
  }

  /* .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product {
    border: none;
    cursor: pointer;
}
.product:hover {
    background-color: rgba(0,0,0,0.1);
}
.product a:hover {
    text-decoration: underline;
} */

  .goods {
    display: flex;
    flex-wrap: wrap;
}
.good {
    width: 25%;
}
.img {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.price {
    font-size: 32px;
}
.name {
    font-weight: bold;
}

/* .pagination a {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #eee;
}
.pagination a.active {
    color: cadetblue;
}

  .paginations {
    display: flex;
    margin: 20px 0;
  }
  .pagination {
    padding: 10px;
    background-color: aquamarine;
    margin-left: 5px;
    color: firebrick;
    text-decoration: none;
    border-radius: 5px;
  }
  .pagination.active,
  .pagination:hover {
    background-color: firebrick;
    color: aquamarine;
    text-decoration: none;
  } */
  
  form > div {
    margin-bottom: 20px;
  }
  h3 > a {
    text-decoration: none;
  } 