{block content}
    <br>
    <div class="text-right">
        <a n:href="Article:upsert"><button class="btn btn-primary">Přidat článek</button></a>
    </div>
    <div>
        {control articleGrid}
    </div>
{/block}