* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card {
    background-color: rgb(35, 145, 145);
    height: 300px;
    width: 600px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
}

.side {
    margin: 50px;
}

#front {
}
#back {
}