main {
    width: 90%;
    max-width: 1015px;
    margin: 80px auto;
  }

  .goods {
    display: flex;
    flex-wrap: wrap;
}
.good {
    width: 25%;
}
.img {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.price {
    font-size: 32px;
}
.name {
    font-weight: bold;
}

  
  form > div {
    margin-bottom: 20px;
  }
  h3 > a {
    text-decoration: none;
  } 