html {
  box-sizing: border-box;
  background-color: #E6CCC4;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*clearfix*/
.business-card::before,
.business-card::after {
content: "";
display: table;
}
.business-card::after {
clear: both;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  color: #032859;
}

.business-card {
  padding: 30px;
  background-color: #8EB1BF;
  color: #56738C;
  max-width: 600px;
  margin: 20px auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px #000;
  display: flex;
  border-radius: 10px;
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -30px;
}

.info {
  font-size: 20px;
}

.back {
  justify-content: center;
}

.me {
  border-right: 2px solid #F3DDC3;
  font-size: 20px;
  padding-right: 20px;
}

.contacts {
  padding-left: 20px;
  color: #56738C;
}

.firstname,
.lastname {
  color: #011826;
  font-size: 40px;
  font-weight: bold;
}