{block content}
    <br>
    <div class="text-right">
        <a n:href="Player:assignPlayersToTeams" class="btn btn-primary">Přiřadit hráče k týmům</a>
        <a n:href="Player:import" class="btn btn-secondary">Importovat hráče z IS Fotbal</a>
    </div>
    <div>
        {control playerGrid}
    </div>
{/block}