* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .business-card {
    padding: 10px;
    background-color: #ffffff;
    color: #009999 ;
    width: 540px;
    margin: 20px auto;
    height: 300px;
    display: flex;
    align-items: center;
    border: 1px solid black;
  }
  .firstname {
    line-height: 1.2em;
    font-size: 2.5em;
    text-transform: uppercase;
  }
  .lastname {
    line-height: 1.2em;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
  }
  .title, .company, .age {
    font-size: 1em;
  }
  .company {
    text-transform: uppercase;
    font-weight: bold;
  }
  .logo {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contacts {
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 40px;
  }
  .phone, .email{
    font-size: 0.8em;
  }
  .back .firstname, .back .lastname {
    font-size: 2em;
  }
  .address {
    font-weight: bold;
  }
  .logo {
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }