* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 2rem;
    margin: 15px auto;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
img {
    width: 50px;
    height: 50px;
    padding: 10px;
}
.container, .firm {
    width: 25%;
    height: 100px;
    background-color: #f88279;
    -webkit-box-shadow: 2px 3px 28px -1px rgba(0,0,0,0.57); 
    box-shadow: 2px 3px 28px -1px rgba(0,0,0,0.57);
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: row;
}
.personal {
    padding: 10px;
}