.h3, .ul {
    margin-top: 0;
}

.hr {
    margin: 2px 0 4px;
}

.img {
    border-radius: 50%;
    height: 200px;
    margin-right: 50px;
    object-fit: cover;
    width: 200px;
}

.section {
    align-items: center;
    border: 2px solid grey;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 30%;
    margin: 10px;
}

.span {
    color: #555;
    font-size: 14px;
}