{block content}
    <br>
    <div class="text-right">
        <a n:href="EmailTemplate:upsert"><button class="btn btn-primary">Přidat šablonu</button></a>
    </div>
    <div>
        {control emailTemplateGrid}
    </div>
{/block}