* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: medium;
}

.logo {
    height: 100px;
    width: 125px;
}

h1 {
    color: black !important;
}

.navbar-collapse{
    justify-content: flex-end;
    font-size: 25px !important;
    margin-right: 20px;
}

.nav-item{
    margin-right: 40px;
}

.nav-item:hover{
    color: white;
    background-color: rgba(0,0,0,.55);
}

.my-bg {
    background-image: url(https://wallpaperaccess.com/full/1087589.jpg);
    height: 100vh;"
}

/**
* FontAWESOME
 */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: black; !important;
}