html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 101vh; /* always show scrollbar */
  font-family: "Poppins", sans-serif; /* FONT */
  background: #111; /* main background */
}
