#login_box{
  width: 90%;
  max-width: 500px;
  height: auto;
  margin: 60vh auto;
  h1 {
    font-size: 30px;
    text-align: center;
  }
  
  .alert {
    display: block;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
  }
  
  .danger {
    background-color: #F2055C;
  }
  
  .success {
    background-color: #00000F;
  }
  form {
    position : relative;
    width  : 80%;
    max-width: 480px;
    margin : 20px auto;
    padding: 2em 4em;
    background : #FFF;
    border-radius: 15px;
    background-color: #076873;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  small {
    display: inline-block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.493);
  }
  
  input {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px 10px;
    background-color: #ffffff12;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;
    color: #FFF;
  }
  
  input:focus {
    box-shadow: 0 2px 4px #00000f31, 0 8px 16px #00000f31;
    background-color: #ffffff75;
    outline: none;
  }
  
  button {
    padding: 5px 10px;
    margin: 30px 0 20px 0;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background: #00000F;
    color: #6CCED9;
    border-radius: 5px;
    cursor: pointer;
    transition: background .15s ease-in-out, color .15s ease-in-out;
    &:hover,
    &:focus {
      outline: none;
      background: #F2055C;
      color: #fff;
    }
  }
  
}