/* mobile navbar */
.nav {
  display: none;
}

nav {
  position: fixed;
  top: 20px; /* top margin */
  left: 0;
  right: 0;

  margin: 0 auto;
  padding: 0 20px;
  height: 65px; /* height */
  width: 90%; /* width */
  /* max-width: 1510px; */ /* max width on desktop */
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 200;
  
  background: rgb(231,66,11); /* background color */
  background: linear-gradient(52deg, rgba(231,66,11,1) 9%, rgba(231,125,11,1) 34%, rgba(230,169,12,1) 72%, rgba(249,255,0,1) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 20px; /* border radius */
  
  * {
    margin: 0 20px 0 0;
  }

  .logo {
    color: #fff; /* font color */
    font-size: 24px; /* font size */
    font-weight: 700; /* font thickness */
    text-transform: uppercase; /* font mode */
    cursor: pointer;
    padding: 1px 4px; /* border stretch */
    border: 3px solid #fff; /* border customization */
    border-radius: 10px; /* border radius */

    /* unselect-ability */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  /* LINKS */
  .links > a {
    color: #fff; /* font color */
    text-decoration: none;
    font-size: 18px; /* font size */
    font-weight: bold;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0) inset;

    padding: 10px;
    border-radius: 25px;

    transition: box-shadow 0.5s, color 0.2s;
    &:hover {
      box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.493) inset;
      color: #111;
    }
    &:focus {
      color: rgba(255, 255, 255, 0.473);
    }
  }

  /* SEARCHBAR */
  #wrapper {
    position: relative;
    height: 42px;
    width: 25%;
    min-width: 180px;
    #search-icon {
      position: absolute;
      top: 13px;
      left: 13px;
      font-size: 15px;
      opacity: 0.5;
      z-index: 2;
    }
    #search {
      border: none;
      outline: 0;
      border-radius: 20px; /* border radius */
      height: 100%;
      width: 100%;
      
      font-weight: 600; /* font thickness */
      background: #f5f5f5; /* background color */
      padding: 0.75rem 1.8rem 0.75rem 2.3rem;
      opacity: 0.4; /* opacity */
      transition: 0.5s;
      &:focus {
        opacity: 0.8;
      }
    }
    /* centralise placeholder */
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }
    :-ms-input-placeholder {
      text-align: center;
    }
    
    #clear-icon {
      cursor: pointer;
      position: absolute;
      top: 4px;
      right: 4px;
      padding: 10px;
      font-size: 15px;
      opacity: 0.5;
      z-index: 2;
    }
  }
  
  .user {
    position: absolute;
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .menu {
    right: 2px;
    bottom: 17px;
    font-size: 30px;
    
  }
  .login {
    right: 2px;
    bottom: 21px;
    * {
      color: #fff;  
      text-decoration: none;
      font-size: 18px;
    }
  }
  
}

