{block content}
    <br>
    <div class="text-right">
        <a n:href="Member:upsert" class="btn btn-primary">Přidat člena</a>
        <a n:href="Member:import" class="btn btn-secondary">Importovat členy z IS Fotbal</a>
    </div>
<div>
    {control memberGrid}
</div>
{/block}